<!DOCTYPE html>
<html>
    <head>
        <title>Share Project| Share your ideas and collaborate with like minds</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300&family=Sansita+Swashed:wght@800&family=Slabo+27px&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header> 
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a id="design-brand" class="navbar-brand" href="#"><img src="img/pngtree-planet-earth-vector-icon-png-image_3728954-removebg-preview.png"  height="40px">Share Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a id="links" class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
                    <a id="links" class="nav-link" href="#">Features</a>
                    <a id="links" class="nav-link" href="#">Pricing</a>
                    <a href="login"  id="login-links" class="nav-link" href="#">Login</a>
                    <a href="register" style="color: #0b3cc2;" id="links" class="nav-link" href="#">Signup</a>

                   
                  </div>
                </div>
            </nav>

            <div class="header-body">
                <h1 class="design">Welcome to Share Project</h1>
                <div class="subtitle">
                    Share Project is a site that lets you share your ideas and projects.Meet with like minds to capture,priotirze and develop the right ideas.
                </div>
                <a href="register" style="color: black; text-decoration: none;" ><button id="click" type="button" class="btn btn-primary">Get Started</button></a>

            </div>
        </header>
        <main>
            <div class="why-us">
                <h1> One central place for ideas</h1>
               <p>Find and Share ideas across engineering,medicine,politics and even art with other people like you.It's like an organized supermarket for ideas</p>
            </div>

            <img class="why-us-img"  src="img/pexels-karsten-madsen-18105.jpg">
            <div class="why-us">
                <h1> Let your Innovation shine</h1>
               <p>Share your ideas with the rest of the world and let it blossom into an idea with value by pitching it to fellow idealist</p>
            </div>

            <img class="why-us-img"  src="img/pexels-karsten-madsen-18105.jpg">

            <div  class="why-us">
                <p>Discover collaborate and share ideas among the whole world in one whole inoovation ecosystem</p>
            </div>
               <img class="why-us-img"  src="img/pexels-karsten-madsen-18105.jpg">
   
               <div style="margin-top: 30px; text-align: center;; padding: 0 0 0 0; max-width: 100%; margin-right: 0; margin-left: 0;" class="Offer container">
                <h1 style="padding-top: 50px; font-family: 'Times New Roman';font-weight: 400;text-rendering: optimizeLegibility;">Steps Involved in Sharing your works</h1>
                <ul style="padding:3% 4% 3% 4%; list-style: none;" class="row">
                    <li  class="col-sm">
                        <img style="height: 80px;" src='img/light-bulb.png'> 
                        <p style="font-family: 'Times New Roman';color:#1230F3;font-weight: 700; font-size: 18px; margin-top: 5px;  text-rendering: optimizeLegibility; letter-spacing: 1px;">Discover</p>
                        <p style="font-family: 'Times New Roman';color:#9c9ea1;">Discover and Develop the right ideas with a streamlined process </p>
                    </li>
                    <li  class="col-sm">
                        <img style="height: 80px;" src="img/collaboration.png"> 
                        <p style="font-family: 'Times New Roman';color:#1230F3;font-weight: 700;font-size: 18px; margin-top: 5px; text-rendering: optimizeLegibility; letter-spacing: 1px;">Collaborate</p>
                        <p style="font-family: 'Times New Roman', Times, serif;color:#9c9ea1;">Collaborate with unlimited people and specialist to act and develop your ideas </p>
                    </li>
                    <li  class="col-sm">
                        <img style="height: 80px;" src="img/message.png"> 
                        <p style="font-family: 'Times New Roman';color:#1230F3;font-weight: 700; font-size: 18px; margin-top: 5px;  text-rendering: optimizeLegibility; letter-spacing: 1px;">Discuss</p>
                        <p style="font-family: 'Times New Roman';color:#9c9ea1;">Discuss with pros on the platform via our messaging platform </p>
                    </li>
                    <li  class="col-sm">
                        <img style="height: 80px;" src="img/rocket.png"> 
                        <p style="font-family: 'Times New Roman';color:#1230F3;font-weight: 700; font-size: 18px; margin-top: 5px;  text-rendering: optimizeLegibility; letter-spacing: 1px;">Share</p>
                        <p style="font-family: 'Times New Roman';color:#9c9ea1;">Share your ideas to the rest of the world and watch it turn to something great.</p>
                    </li>
                </ul>
            </div>
            
        </main>
        <footer>
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
            
        </footer>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    
</html>